.idea/*
.vscode/*
.DS_Store
cryptor/*.txt
fileutil/*.txt
fileutil/*.zip
fileutil/*.link
fileutil/unzip/*
fileutil/tempdir/*
slice/testdata/*
cryptor/*.pem
test
docs/node_modules
docs/.vitepress/cache
